/* ******************* */
/*        Footer       */
/* ******************* */
footer{
    background-color: $mc;
    color:white;
    font-size: 13.5px;
    padding: 10px 0px;
    .taplin{
        color:white;
        font-weight: bold;
        transition: .3s all linear;
        &:hover{
            letter-spacing: 2px;
        }
    }
}